*{
    margin:0;
    padding:0;
}

body{
    background:rgba(104, 243, 58, 0.333);
    font-family: 'Poppins', sans-serif;
    min-width:420px;
}

header{
    margin:45px auto;
    padding:15px 12px;
    text-align: center;
    max-width: 100%;

}

header p{
    padding:15px 20px;
    font-size: 20px;
    color: hsl(229, 6%, 66%);
}

header .main{
    font-weight: 300;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

section{
    position:relative;
    width:340px;
    max-width: 100%;
    min-height:180px;
    border-radius: 8px;
    margin: 15px auto;
    padding:29px 25px;
    background:#fff;
    box-shadow:0px 5px 10px 0px;
}

section p{
    padding:5px 15px;
}


#super img{
   position:absolute;
   left:250px;
   top:130px;
}

#super{
    border-top:4px solid hsl(180, 62%, 55%);
    padding:20px 15px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
}

#calculator{
    border-top:4px solid hsl(212, 86%, 64%); 
    padding:20px 15px;
}

#calculator img{
    position:absolute;
    left:250px;
    top:130px;
}

.col-1{
    border:none;
    border-radius: 8px;
    min-height:180px;
    padding:25px 20px;
    background:#fff;
    box-shadow:0px 5px 10px 0px;
}

.col-00{
    position: relative;
    width:370px;
    padding:0;
    border:none;
    background: none;
    position:relative;
    box-shadow: none;
}

#builder{
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-top:10px;
    margin-bottom:25px;
}

#builder img{
    position:absolute;
    left:250px;
    top:130px;
}

#karma{
    border-top: 4px solid hsl(34, 97%, 64%);
    margin-bottom: 8px;
}

#karma img{
    position:absolute;
    float:left;
}

@media(min-width:765px){
    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap:20px;
    }
}

@media(min-width:1024px){
    main{
        display:flex;
       flex-direction: row;
       align-items: center;
    }

    section{
        min-height:250px;
        margin:20px 15px;
    }

    .col-00{
        display: flex;
        flex-direction: column;
    }

}


